###> symfony/framework-bundle ###
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###< phpstorm ###
.idea
.idea/*
workspace.xml
###< phpstorm ###
/community_database/
/community_database/*
